<aside class="right-sidebar">
    <nav class="toc">
        <h3>CONTENTS</h3>
        <ul>
            <li><a href="#">Top</a></li>
            {{ .SidebarLinks }}
        </ul>
        <br />
        <h3>SOCIALS</h3>
        <ul>
            <li>
                <a href="https://github.com/anuragcsangal" target="_blank"
                    >Github</a
                >
            </li>
            <li>
                <a href="https://linkedin.com/in/anurag-angal" target="_blank"
                    >LinkedIn</a
                >
            </li>
            <li>
                <a href="https://twitter.com/angal_anurag" target="_blank"
                    >Twitter</a
                >
            </li>
        </ul>
    </nav>
</aside>
